body {
	background-color : #ededed;
	font : normal 12px/18px Arial, Helvetica, sans-serif;
}

h1 { 
	border-bottom : 1px solid #cbcbcb;
	color : #333;
	display : block;
	font : normal 24px/30px Georgia, "Times New Roman", Times, serif;
	margin : 20px auto;
	padding-bottom : 20px;
	text-shadow :  1px 2px 3px #ccc;
	width : 600px;
}

#container {
	margin : 0 auto;
	width : 600px;
}

#myCanvas { 
	background : #fff;
	border : 1px solid #cbcbcb;
}

#nav {
	display : block;
	text-align : center;
	width : 100%;
}

#nav li { 
	background : #e0e0e0;
	border : 1px solid #ccc;
		-webkit-border-radius : 4px;
		-moz-border-radius : 4px;
	border-radius : 4px;
	display : block;
	float : left;
	font-weight : bold;
	height : 21px;
	line-height : 21px;
	margin : 0 10px;
	padding : 5px;
	text-shadow : 1px 1px 1px #fff;
	width : 100px;
}

#nav li a { 
	color : #000;
	display : block;
	height : 100%;
	text-decoration : none;
	width : 100%;
}
